<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/cms-layout}">
<head th:include="~{fragments/cms/head :: title('Overview')}">
    <style layout:fragment="styles">
    </style>
    <th:block layout:fragment="others">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cms/tag"><i class="fas fa-tags"></i>&ensp;Tags</a></li>
        </ol>
    </nav>
    <div class="row" style="min-height: 85vh;">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel h-100">
                <div class="x_title">
                    <h2>Tags</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
</script>
