<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tranphucvinh.mybatis.mapper.CategoryMapper">

    <select id="selectCategories" resultType="Map">
        SELECT
	        c.category_id,
	        c.category_name,
	        c.category_img_path,
	        c.created_at,
	        c.updated_at,
	        c.created_user,
	        c.updated_user,
	        COUNT(p.post_id) AS post_cnt
        FROM
        	tb_categories c
        	LEFT JOIN tb_posts p
        	ON c.category_id = p.category_id
        	GROUP BY c.category_id
    </select>
</mapper>