<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <!-- <h3>General</h3> -->
        <ul class="nav side-menu">
        	<li><a href="/cms/overview"><i class="fas fa-chart-bar"></i>Overview</a></li>
            <li><a><i class="fas fa-cogs"></i>Page Setting<span class="fa fa-chevron-down"></span></a>
            	<ul class="nav child_menu">
                    <li><a href="/cms/page-info/about-us"><i class="fas fa-user"></i>About Us</a></li>
		            <li><a href="/cms/page-info/contact-us"><i class="fas fa-address-book"></i>Contact Us</a></li>
		            <li><a href="/cms/page-info/social"><i class="fas fa-share-square"></i>Social Setting</a></li>
                 </ul>
            </li>
            <li><a><i class="fas fa-pen-nib"></i>Post<span class="fa fa-chevron-down"></span></a>
            	<ul class="nav child_menu">
            		<li><a href="/cms/post/create"><i class="fa fa-sticky-note-o"></i>Create Post</a></li>
                    <li><a href="/cms/post/list"><i class="fas fa-newspaper"></i>Posts</a></li>
                 </ul>
            </li>
            <!-- <li><a href="/cms/comment"><i class="fas fa-comments"></i>Comments</a></li>
            <li><a href="/cms/category"><i class="fa fa-list-alt"></i>Categories</a></li>
            <li><a href="/cms/tag"><i class="fas fa-tags"></i>Tags</a></li>
            <li><a href="/cms/photo"><i class="fas fa-image"></i>Photos</a></li>
            <li><a href="/cms/video"><i class="fas fa-video-slash"></i>Videos</a></li> -->
        </ul>
    </div>
</div>