<aside id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
	<h4 class="widget-title penci-border-arrow"><span class="inner-arrow">Subscribe
			Newsletter</span></h4>
	<script type="text/javascript">(function () {
			if (!window.mc4wp) {
				window.mc4wp = {
					listeners: [],
					forms: {
						on: function (event, callback) {
							window.mc4wp.listeners.push({
								event: event,
								callback: callback
							});
						}
					}
				}
			}
		})();
	</script><!-- MailChimp for WordPress v4.1.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
	<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-101" method="post" data-id="101"
		data-name="Form">
		<div class="mc4wp-form-fields">
			<p class="mdes">Subscribe my Newsletter for new blog posts, tips & new photos. Let's
				stay updated!</p>
			<p class="mname"><input type="text" name="NAME" placeholder="Name..." /></p>
			<p class="memail"><input type="email" id="mc4wp_email" name="EMAIL"
					placeholder="Email..." required /></p>
			<p class="msubmit"><input type="submit" value="Subscribe" /></p>
			<div style="display: none;"><input type="text" name="_mc4wp_honeypot" value=""
					tabindex="-1" autocomplete="off" /></div><input type="hidden"
				name="_mc4wp_timestamp" value="1605947648" /><input type="hidden"
				name="_mc4wp_form_id" value="101" /><input type="hidden"
				name="_mc4wp_form_element_id" value="mc4wp-form-1" />
		</div>
		<div class="mc4wp-response"></div>
	</form><!-- / MailChimp for WordPress Plugin -->
</aside>