<footer id="footer-section" class="penci-footer-social-media penci-lazy footer-social-remove-circle" itemscope
	itemtype="http://schema.org/WPFooter">
	<div class="container">
		<div th:replace="~{fragments/home/footer-socials}"></div>
		<div class="footer-logo-copyright footer-not-logo footer-not-gotop">
			<div id="footer-copyright">
				<p>@2020 - All Right Reserved. Designed and Developed by <a ref="nofollow"
						href="#"
						target="_blank">Tran Phuc Vinh</a></p>
			</div>
		</div>
		<div class="penci-go-to-top-floating"><i class="fa fa-angle-up"></i></div>
	</div>
</footer>