<div class="footer-instagram penci-top-instagram">
	<aside id="penci_insta_slider-3" class="widget penci-insta-slider">			<div class="jr-insta-thumb">
		<ul class="no-bullet thumbnails no-border jr_col_8" >
			<li>
				<a href="https://www.instagram.com/p/B1QkMqthU8i/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/1.jpg" alt="Instagram Image" />
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/p/B1PMQQjhjet/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/2.jpg" alt="Instagram Image" />
				</a>
			</li>
								<li>
				<a href="https://www.instagram.com/p/B1OPSmthyGS/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/3.jpg" alt="Instagram Image" />
				</a>
			</li>
								<li>
				<a href="https://www.instagram.com/p/B1MJHBmBLAh/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/4.jpg" alt="Instagram Image" />
				</a>
			</li>
								<li>
				<a href="https://www.instagram.com/p/B1LxCzrhESN/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/5.jpg" alt="Instagram Image" />
				</a>
			</li>
								<li>
				<a href="https://www.instagram.com/p/B1Iw7jMhz3d/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/6.jpg" alt="Instagram Image" />
				</a>
			</li>
								<li>
				<a href="https://www.instagram.com/p/B1GuRSZBxn9/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/7.jpg" alt="Instagram Image" />
				</a>
			</li>
								<li>
				<a href="https://www.instagram.com/p/B1EEcEhhsca/" target="_blank">
					<img class="instagram-square-lazy penci-lazy" src="/home/images/penci-holder.png" data-src="/home/images/instagram/8.jpg" alt="Instagram Image" />
				</a>
			</li>
		</ul>
	</div>
	</aside>
</div>