<nav id="sidebar-nav" class="header-1" role="navigation" itemscope
	itemtype="http://schema.org/SiteNavigationElement">
	<div id="sidebar-nav-logo">
		<a href="index.html"><img class="penci-lazy" src="/home/images/logo.png"
				data-src="/home/images/logo.png"
				alt="Soledad" /></a>
	</div>
	<div th:replace="~{fragments/home/menu-socials}"></div>
	<ul id="menu-menu-1" class="menu">
		<li id="menu-item-126"
			class="megamenu menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-126">
			<a href="/">Home</a>
		</li>
		<li id="menu-item-271"
			class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu menu-item-271"><a
				href="/home/posts/category">Memories</a>
			<ul class="sub-menu">
				<li id="menu-item-0" class="menu-item-0">
					<div class="penci-megamenu">
						<div class="penci-mega-child-categories">
							<a class="mega-cat-child cat-active all-style" href="/home/posts/category"
								data-id="penci-mega-8"><span>All</span></a>
							<a class="mega-cat-child" href="/home/posts/category?categoryId=1"
								data-id="penci-mega-11"><span>Life</span></a>
							<a class="mega-cat-child" href="/home/posts/category?categoryId=2"
								data-id="penci-mega-9"><span>Photography</span></a>
							<a class="mega-cat-child" href="/home/posts/category?categoryId=3"
								data-id="penci-mega-10"><span>Stories</span></a>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li id="menu-item-272"
			class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu"><a
				href="/home/posts/category?categoryId=4">Travel</a>
		</li>
		<!-- <li id="menu-item-272"
			class="menu-item menu-item-type-taxonomy menu-item-object-category penci-mega-menu">
			<a href="/home/gallery">Gallery</a>
		</li> -->
		<li class="menu-item menu-item-type-custom menu-item-object-custom">
			<a href="/home/about-us">About Us</a>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom">
		<a href="/home/contact-us">Contact Us</a>
	</li>
	</ul>
</nav>