<script type='text/javascript' src='/home/scripts/jquery-1.12.4.js'></script>
<script type='text/javascript' src='/home/scripts/libs-script.min9b2d.js?ver=6.1'></script>
<script type='text/javascript'>
var ajax_var_more = { "url": "http:\/\/soledad.pencidesign.com\/soledad-dark-version\/wp-admin\/admin-ajax.php", "nonce": "abbbeccdb0" };
</script>
<script type='text/javascript' src='/home/scripts/main9b2d.js?ver=6.1'></script>
<!-- <script type='text/javascript' src='/home/scripts/more-post5152.js?ver=1.0'></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
<script type='text/javascript' src='/home/scripts/ls-common.js'></script>
<script type='text/javascript' src='/home/scripts/ls-custom.js'></script>
